# Top-most EditorConfig file
root = true

# General settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Settings for C++ source files
[*.cpp]
indent_style = space
indent_size = 4
max_line_length = 120

# Settings for C++ header files
[*.hpp]
indent_style = space
indent_size = 4
max_line_length = 120

# Settings for header files with other extensions
[*.h]
indent_style = space
indent_size = 4
max_line_length = 120

# Settings for build scripts like Makefiles
[Makefile]
indent_style = tab

# Configuration files like .editorconfig, .gitignore, etc.
[*.{editorconfig,gitignore}]
indent_style = space
indent_size = 2

