# Compiled object files
*.o

# Compiled dynamic libraries
*.dll
*.so
*.dylib

# Compiled static libraries
*.lib
*.a

# Executable files
*.exe
*.out
*.app

# Build directories
/build/
/bin/

# Temporary files
*.tmp
*~
*.swp
*.swo
*.swn

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Mac OS X files
.DS_Store

# Logs
logs/
*.log

# Ignore the executable
tiny_parser
